<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add New Blog</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">

      <div class="row row-cols-4" style="row-gap: 20px;">
        <% blogs.forEach(blog => { %>
          <div class="col">

            <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem; ">
              <img src="<%= blog.coverImageURL %>" class="card-img-top" style="height: 150px;" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= blog.title %></h5>
                <a href="/dumps/blogs/<%= blog._id %>" class="btn btn-primary">view</a>
              </div>
            </div>
          </div>
            <% }) %>
        </div>
      </div>

    <%- include('./partials/script') %>
  </body>
</html>
