<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container" style="display: flex;">
        <div class="phtot"  style="border-radius: 50%;">
            <img src="<%= blog.createdBy.profilephotoURL %>" alt="" srcset="">
        </div>
        <p><%= blog.createdBy.fullname %></p>
    </div>
    <div class="container mt-3" >
        <p><%= blog.title %></p>
        <img src="<%= blog.coverImageURL %>" style="height: 200px; width: 400px;" alt="not found" srcset="">
        <p><%= blog.body %></p>
    </div>
    <div class="mb-3">
        <form action="/dumps/blogs/<%= blog._id %>" method="post" >

            <label for="body">Body</label>
            <textarea name="comment" class="form-control" id="body"></textarea>
            <button type="submit">post comment</button>
        </form>
      </div>
      <div class="mb-3">
        <% if (comments) { %>
         <% comments.forEach(comment => { %>
          <p><%= comment.comment %></p> <span>commented by - <b><%= comment.commentedby.fullname %></b></span><br>
         <% }) %>
        <% } %>
      </div>
    <%- include('./partials/script') %>
</body>
</html>